<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="tabulator/css/tabulator_bootstrap5.min.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="custom.css" />
    <link rel="stylesheet" href="StoryWriter.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="fontawesome/js/all.min.js"></script>
    <script src="tabulator/js/tabulator.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
